{% extends "WebApp/fileManage.html" %}
{% load staticfiles %}


{% block fileManage_active_sidebar %}
    {% for folderList in folders %}
        {% if folder == folderList %}
            <li class="active"><a href="{% url 'fileManage_tasks' folderList.id %}"><i
                    class="fa fa-folder-o"></i> {{ folderList.folder_name }}</a></li>
        {% else %}
            <li><a href="{% url 'fileManage_tasks' folderList.id %}"><i
                    class="fa fa-folder-o"></i> {{ folderList.folder_name }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock fileManage_active_sidebar %}


{% block content_breadcrumb %}
    <li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home </a></li>
    <li><a href="{% url 'fileManage' %}">File Management</a></li>
    <li class="active"><a href="#">File Manage Tasks</a></li>
{% endblock content_breadcrumb %}


{% block fileManage_breadcrumb %}
    <li><a href="{% url 'fileManage' %}"><i class="fa fa-folder-open"></i> All Folders</a></li>
    <li class="active"> {{ folder.folder_name }} </li>
{% endblock fileManage_breadcrumb %}


{% block newButton %}
    <a href="{% url 'newTask' %}" class="btn btn-primary btn-block margin-bottom">+ New Task</a>
{% endblock newButton %}

{% block fileManage_table %}
    <tr>
        <th></th>
        <th>ID</th>
        <th>Task Name</th>
        <th>Created Date</th>
        <th>Status</th>
        <th>Modified Date</th>
        <th></th>
    </tr>
    {% for task in tasks %}
        {% if task.task_status == 1 %}
            <tr>
                <td><input class="selectedId" style="margin: 0px 5px;" type="checkbox"></td>
                <td><a href="{% url 'taskDetail' task.id %}">{{ task.id }}</a></td>
                <td><a href="{% url 'taskDetail' task.id %}">{{ task.task_name }}</a></td>
                <td>{{ task.task_time_created }}</td>
                <td><span class="label label-warning">{{ STATUS_CHOICES.0.1 }}</span></td>
                <td>{{ task.task_time_changed }}</td>
                <td>
                    <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal"
                            data-target="#modifyTaskDetail{{ task.id }}"><i class="fa fa-pencil"></i></button>
                    {% include 'WebApp/taskDetail_editTask.html' %}
                    <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal"
                            data-target="#deleteTask{{ task.id }}"><i class="fa fa-trash-o"></i></button>
                    {% include 'WebApp/taskDetail_deleteTask.html' %}
                </td>
            </tr>
        {% elif task.task_status == 2 %}
            <tr>
                <td><input class="selectedId" style="margin: 0px 5px;" type="checkbox"></td>
                <td><a href="{% url 'taskDetail' task.id %}">{{ task.id }}</a></td>
                <td><a href="{% url 'taskDetail' task.id %}">{{ task.task_name }}</a></td>
                <td>{{ task.task_time_created }}</td>
                <td><span class="label label-success">{{ STATUS_CHOICES.1.1 }}</span></td>
                <td>{{ task.task_time_changed }}</td>
                <td>
                    <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal"
                            data-target="#modifyTaskDetail{{ task.id }}"><i class="fa fa-pencil"></i></button>
                    {% include 'WebApp/taskDetail_editTask.html' %}
                    <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal"
                            data-target="#deleteTask{{ task.id }}"><i class="fa fa-trash-o"></i></button>
                    {% include 'WebApp/taskDetail_deleteTask.html' %}
                </td>
            </tr>
        {% elif task.task_status == 3 %}
            <tr>
                <td><input class="selectedId" style="margin: 0px 5px;" type="checkbox"></td>
                <td><a href="{% url 'taskDetail' task.id %}">{{ task.id }}</a></td>
                <td><a href="{% url 'taskDetail' task.id %}">{{ task.task_name }}</a></td>
                <td>{{ task.task_time_created }}</td>
                <td><span class="label label-danger">{{ STATUS_CHOICES.2.1 }}</span></td>
                <td>{{ task.task_time_changed }}</td>
                <td>
                    <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal"
                            data-target="#modifyTaskDetail{{ task.id }}"><i class="fa fa-pencil"></i></button>
                    {% include 'WebApp/taskDetail_editTask.html' %}
                    <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal"
                            data-target="#deleteTask{{ task.id }}"><i class="fa fa-trash-o"></i></button>
                    {% include 'WebApp/taskDetail_deleteTask.html' %}
                </td>
            </tr>
        {% else %}
            <!-- Nothing show -->
        {% endif %}

    {% endfor %}
{% endblock fileManage_table %}

{% block fileManage_pagination %}
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            {% if tasks.has_previous %}
                <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li><a href="">&laquo;</a></li>
            {% endif %}

            {% for num in tasks.paginator.page_range %}
                {% ifequal num tasks.number %}
                    <li class="current"><a href="#"><b>{{ num }}</b></a></li>
                {% else %}
                    <li><a href="?page={{ num }}"> {{ num }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if tasks.has_next %}
                <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
