{% extends "WebApp/fileManage.html" %}
{% load staticfiles %}




{% block fileManage_active_sidebar %}
<li class="active"><a href="{% url 'fileManage_tasks' %}"><i class="fa fa-folder-o"></i> Default </a></li>
<li><a href="#"><i class="fa fa-folder-o"></i> GiveMeAName1 </a></li>
<li><a href="#"><i class="fa fa-folder-o"></i> GiveMeAName2 </a></li>
<li><a href="#"><i class="fa fa-folder-o"></i> GiveMeAName3</a></li>
{% endblock fileManage_active_sidebar %}



{% block fileManage_breadcrumb %}
<li><a href="{% url 'fileManage' %}"><i class="fa fa-folder-open"></i> All Folders</a></li>
<li class="active">Default</li>
{% endblock fileManage_breadcrumb %}
       


{% block fileManage_table %}
<tr>
  <th>ID</th>
  <th>Task Name</th>
  <th>User</th>
  <th>Created Date</th>
  <th>Status</th>
  <th>Description</th>
  <th>Modified Date</th>
</tr>
<tr>
  <td>1</td>
  <td><a href="{% url 'taskDetail' %}">AAA</a></td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-success">Completed</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>2</td>
  <td>BBB</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-warning">Pending</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>3</td>
  <td>CCC</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-primary">Completed</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>4</td>
  <td>DDD</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>5</td>
  <td>EEE</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>6</td>
  <td>FFF</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>7</td>
  <td>GGG</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>8</td>
  <td>HHH</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>9</td>
  <td>III</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
<tr>
  <td>10</td>
  <td>JJJ</td>
  <td>BIC CMU</td>
  <td>11-7-2014</td>
  <td><span class="label label-danger">Denied</span></td>
  <td>No Description here</td>
  <td>11-7-2014</td>
</tr>
{% endblock fileManage_table %}
