<!-- Edit Folder Info -->

<!-- Modal -->
<div id="editFolderInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Folder Info</h4>
      </div>
      <div class="modal-body">
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Folder Name</label>
              <input class="form-control" id="folderName" placeholder="Current folder name">
            </div>
            <!-- textarea -->
            <div class="form-group">
              <label>Description (optional)</label>
              <textarea class="form-control" rows="3" placeholder="Current folder description"></textarea>
            </div>
          </div><!-- /.box-body -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save change</button>
      </div>
    </div>

  </div>
</div>