{% extends "WebApp/fileManage.html" %}
{% load staticfiles %}


{% block fileManage_active_sidebar %}
    {% for folder in folders %}
        <li><a href="{% url 'fileManage_tasks' folder.id %}"><i class="fa fa-folder-o"></i> {{ folder.folder_name }}
        </a></li>
    {% endfor %}
{% endblock fileManage_active_sidebar %}


{% block content_breadcrumb %}
    <li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home </a></li>
    <li><a href="{% url 'fileManage' %}">File Management</a></li>
    <li class="active"><a href="#">File Manage Tasks</a></li>
{% endblock content_breadcrumb %}



{% block fileManage_breadcrumb %}
    <li><a href="{% url 'fileManage' %}"><i class="fa fa-folder-open"></i> All Folders</a></li>
    <li class="active">Default</li>
{% endblock fileManage_breadcrumb %}



{% block fileManage_table %}
    <tr>
        <th>ID</th>
        <th>Task Name</th>
        <th>User</th>
        <th>Created Date</th>
        <th>Status</th>
        <th>Description</th>
        <th>Modified Date</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td><a href="{% url 'taskDetail' task.id %}">{{ task.id }}</a></td>
            <td><a href="{% url 'taskDetail' task.id %}">{{ task.task_name }}</a></td>
            <td>{{ task.user }}</td>
            <td>{{ task.task_time_created }}</td>
            {% if task.task_status.status_name == "Completed" %}
                <td><span class="label label-success">{{ task.task_status.status_name }}</span></td>
            {% elif task.task_status.status_name == "Pending" %}
                <td><span class="label label-warning">{{ task.task_status.status_name }}</span></td>
            {% else %}
                <td><span class="label label-danger">{{ task.task_status.status_name }}</span></td>
            {% endif %}
            <td>{{ task.task_description }}</td>
            <td>{{ task.task_time_changed }}</td>
        </tr>
    {% endfor %}
{% endblock fileManage_table %}

{% block fileManage_pagination %}
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            {% if tasks.has_previous %}
                <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li><a href="">&laquo;</a></li>
            {% endif %}

            {% for num in tasks.paginator.page_range %}
                {% ifequal num tasks.number %}
                    <li class="current"><a href="#"><b>{{ num }}</b></a></li>
                {% else %}
                    <li><a href="?page={{ num }}"> {{ num }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if tasks.has_next %}
                <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
