{% extends "base.html" %}
{% load staticfiles %}

{% block active_sidebar %}
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <li class="treeview">
        <a href="{% url 'index' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Tasks</span>
            <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url "newTask" %}"><i class="fa fa-circle-o"></i> New Task</a></li>
            <li><a href="{% url "historyTask" %}"><i class="fa fa-circle-o"></i> History Tasks</a></li>
        </ul>
    </li>

    <li class="active">
        <a href="#"><i class="fa fa-folder"></i>File Management</a>
    </li>

    <li>
        <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
    </li>
    <li>
        <a href="{% url 'global_page' %}"><i class="fa fa-book"></i> <span>Global</span></a>
    </li>
    <li>
        <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
    </li>
{% endblock %}


{% block content_header %}
    History Management
{% endblock content_header %}

{% block content_breadcrumb %}
    <li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home </a></li>
    <li class="active"><a href="#">File Management</a></li>
{% endblock content_breadcrumb %}


{% block content_area %}
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Side bar -->
            <div class="col-md-3">
                <!-- <a href="#" class="btn btn-primary btn-block margin-bottom">+ New Folder</a> -->

                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-primary btn-block margin-bottom" data-toggle="modal" data-target="#newFolder">+ New Folder
                </button>

                <!-- Modal -->
                <div id="newFolder" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Create a new folder</h4>
                            </div>
                            <!-- form start -->
                            <form role="form" action="{% url 'new_folder' %}" method="POST">{% csrf_token %}
                                <div class="modal-body">

                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Folder Name</label>
                                            <input type="text" name="folder_name" class="form-control" id="folderName"
                                                   placeholder="Enter folder name">
                                        </div>
                                        <!-- textarea -->
                                        <div class="form-group">
                                            <label>Description (optional)</label>
                                            <textarea name="folder_description" class="form-control" rows="3"
                                                      placeholder="Enter ..."></textarea>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">All Folders</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            {% block fileManage_active_sidebar %}
                                {% for folder in all_folders %}
                                    <li><a href="{% url 'fileManage_tasks' folder.id %}"><i
                                            class="fa fa-folder-o"></i> {{ folder.folder_name }} </a></li>
                                {% endfor %}
                            {% endblock fileManage_active_sidebar %}
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div><!-- /.col -->

            <!-- Main -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <ol class="breadcrumb box-title-customize">
                                {% block fileManage_breadcrumb %}
                                    <li><a href="#"><i class="fa fa-folder-open-o"></i> All Folders</a></li>
                                {% endblock fileManage_breadcrumb %}
                            </ol>
                        </div>
                    </div><!-- /.box-header -->

                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                {% block fileManage_table %}
                                    <tr>
                                        <th>
                                            <button class="btn btn-manage-title btn-default btn-sm checkbox-toggle"><i
                                                    class="fa fa-square-o"></i></button>
                                        </th>
                                        <th>Folder Name</th>
                                        <th>Created Date</th>
                                        <th>Description</th>
                                        <th>Modified Date</th>
                                        <th>
                                            <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i>
                                            </button>
                                        </th>
                                    </tr>

                                    {% for folder in folders %}
                                        <tr>
                                            <td><input style="margin: 0px 5px;" type="checkbox"></td>
                                            <td>
                                                <a href="{% url 'fileManage_tasks' folder.id %}">{{ folder.folder_name }}</a>
                                            </td>
                                            <td>{{ folder.folder_time_created.date }}</td>
                                            <td>{{ folder.folder_description }}</td>
                                            <td>{{ folder.folder_time_changed.date }}</td>
                                            <td>
                                                <button type="button" class="btn btn-manage btn-default btn-sm" data-toggle="modal" data-target="#deleteFolder"><i class="fa fa-trash-o"></i></button>
                                                {% include 'WebApp/fileManage_deleteFolder.html' %}
                                                <button type="button" class="btn btn-manage btn-default btn-sm"
                                                        data-toggle="modal" data-target="#editFolderInfo"><i
                                                        class="fa fa-pencil"></i></button>
                                                {% include 'WebApp/fileManage_editFolderInfo.html' %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endblock fileManage_table %}
                                </tbody>

                            </table><!-- /.table -->
                        </div><!-- /.mail-box-messages -->
                    </div><!-- /.box-body -->

                    {% block fileManage_pagination %}
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                {% if folders.has_previous %}
                                    <li><a href="?page={{ folders.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li><a href="">&laquo;</a></li>
                                {% endif %}

                                {% for num in folders.paginator.page_range %}
                                    {% ifequal num folders.number %}
                                        <li class="current"><a href="#"><b>{{ num }}</b></a></li>
                                    {% else %}
                                        <li><a href="?page={{ num }}"> {{ num }}</a></li>
                                    {% endifequal %}
                                {% endfor %}

                                {% if folders.has_next %}
                                    <li><a href="?page={{ folders.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li><a href="#">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endblock %}

                </div><!-- /. box -->
            </div><!-- /.col -->
        </div>
    </section><!-- /.content -->
{% endblock content_area %}



