{% extends "base.html" %}
{% load staticfiles %}

{% block active_sidebar %}
    <li class="treeview">
        <a href="{% url 'index' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Tasks</span>
            <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url "newTask" %}"><i class="fa fa-circle-o"></i> New Task</a></li>
            <li><a href="{% url "historyTask" %}"><i class="fa fa-circle-o"></i> History Tasks</a></li>
        </ul>
    </li>
    <li>
        <a href="{% url 'fileManage' %}"><i class="fa fa-folder"></i>File Management</a>
    </li>
    <li>
        <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
    </li>
    <li class="active">
        <a href=""><i class="fa fa-book"></i> <span>Global</span></a>
    </li>
    <li>
        <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
    </li>
{% endblock %}



{% block content_header %}
    Global
{% endblock content_header %}

{% block content_breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Global</li>
{% endblock content_breadcrumb %}


{% block content_area %}

    <!-- Main content -->
    <section class="newTask-content">

        <div class="col-md-12 global-head">
            <h3> Most recently updated</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for activity in activities %}
                    <div class="box box-widget">
                        <div class='box-header with-border'>

                            <div class='user-block'>
                                <img class='img-circle' src='{% static 'WebApp/img/user1.jpg' %}' alt='user image'>
                                <span class='username'><a href="{% url 'other_profile' activity.user.id %}">{{ activity.user.username }}</a></span>
                                <span class='description'>{{ activity.time_created }}</span>
                            </div>
                            <div class='box-tools'>
                            </div>
                        </div>
                        <div class='box-body'>
                            <p><b>{{ activity.description }}</b></p>
                            {% if activity.task.task_name %}
                            <div class="attachment-block clearfix">
                                <h4 class="attachment-heading"><a href="#">{{ activity.task.task_name }}</a></h4>
                                <div class="attachment-text">
                                    {{ activity.task.task_description }}
                                </div>
                            </div>
                            {% endif %}
                            <!-- To show the number of comments -->
                            <span class='pull-right text-muted'>{{ activity.comment_set.all | length }} comments in total</span>
                        </div>

                        <!-- To show all the comment for this activities -->
                        {% for comment in activity.comment_set.all %}
                            <div class='box-footer box-comments'>
                                <div class='box-comment'>
                                    <!-- User image -->
                                    <img class='img-circle img-sm' src='{% static 'WebApp/img/user6.jpg' %}' alt='user image'>
                                    <div class='comment-text'>
                                        <span class="username">
                                          <a href="{% url 'other_profile' comment.user.id %}">{{ comment.user }}</a>
                                          <span class='text-muted pull-right'>{{ comment.time_created }}</span>
                                        </span><!-- /.username -->
                                        <p class="comment-style">{{ comment.text }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Add a comment to the activity -->
                        <div class="box-footer">
                            <form action="{% url 'add_comment' activity.id %}" method="post">{% csrf_token %}
                                <img class="img-responsive img-circle img-sm" src="{% static 'WebApp/img/user1.jpg' %}" alt="alt text">
                                <div class="form-group margin-bottom-none">
                                    <div class="col-md-10">
                                        <input type="text" name="comment_text" class="form-control input-sm" placeholder="Add comment here..Maximum 150 words" required/>
                                    </div>
                                    <div class="col-xsm-2">
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}