{% extends "base.html" %}
{% load staticfiles %}

{% block active_sidebar %}
<li class="treeview">
    <a href="{% url 'index' %}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Tasks</span>
        <span class="label label-primary pull-right">4</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url "newTask" %}"><i class="fa fa-circle-o"></i> New Task</a></li>
        <li><a href="{% url "historyTask" %}"><i class="fa fa-circle-o"></i> History Tasks</a></li>
    </ul>
</li>
<li>
  <a href="{% url 'fileManage' %}"><i class="fa fa-folder"></i>File Management</a>
</li>
<li>
    <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
</li>
<li class="active">
    <a href=""><i class="fa fa-book"></i> <span>Global</span></a>
</li>
<li>
    <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
</li>
{% endblock %}



{% block content_header %}
    Global
{% endblock content_header %}

{% block content_breadcrumb %}
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Global</li>
{% endblock content_breadcrumb %}


{% block content_area %}

    <!-- Main content -->
    <section class="newTask-content">

        <div class="col-md-12 global-head">
            <h3> Most recently updated</h3>
        </div>

        <div class="row">
         <div class="col-md-12"> 

         <!-- For loop here for each task  -->
              
                <div class="box box-widget">
                  <div class='box-header with-border'>
                    
                    <div class='user-block'>
                      <img class='img-circle' src='{% static 'WebApp/img/user1.jpg'%}' alt='user image'>
                      <span class='username'><a href="#">Jonathan Burke Jr.</a></span>
                      <span class='description'>Shared publicly - 7:30 PM Today</span>
                    </div><!-- /.user-block -->
                    <div class='box-tools'>
                    </div><!-- /.box-tools -->
                  </div><!-- /.box-header -->
                  
                  <div class='box-body'>
                    <!-- post text -->
                    <p>Create a new task:</p>

                    <!-- Attachment -->
                    <div class="attachment-block clearfix">
                        <h4 class="attachment-heading"><a href="#">Task Name Here</a></h4>
                        <div class="attachment-text">
                          Task Description here 
                          <a href="#">more</a>
                        </div><!-- /.attachment-text -->
                    </div><!-- /.attachment-block -->

                    <span class='pull-right text-muted'>2 comments</span>
                  </div><!-- /.box-body -->
                  
                  
                  <div class='box-footer box-comments'>
                    
                    <!-- for all comments here -->
                    <div class='box-comment'>
                      <!-- User image -->
                      <img class='img-circle img-sm' src='{% static 'WebApp/img/user6.jpg'%}' alt='user image'>
                      <div class='comment-text'>
                        <span class="username">
                          Maria Gonzales
                          <span class='text-muted pull-right'>8:03 PM Today</span>
                        </span><!-- /.username -->
                        <p class="comment-style"> GOOD JOB! </p>
                      </div><!-- /.comment-text -->
                    </div><!-- /.box-comment -->
                   <!-- end for loop  -->
                  
                  </div><!-- /.box-footer -->

                  
                  <div class="box-footer">
                    <form action="#" method="post">
                      <img class="img-responsive img-circle img-sm" src="{% static 'WebApp/img/user1.jpg'%}" alt="alt text">
                      <div class="form-group margin-bottom-none">
                          <div class="col-md-10">
                            <input type="text" class="form-control input-sm" placeholder="Add comment here..Maximum 150 words"/ required>
                          </div>
                          <div class="col-xsm-2">
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                          </div>
                        </div>
                    </form>
                  </div><!-- /.box-footer -->
                </div><!-- /.box -->

              <!-- End for loop for task -->


      </div><!-- /.col -->
    </div><!-- /.row -->
</section>

{% endblock %}