{% extends "base.html" %}
{% load staticfiles %}

{% block active_sidebar %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<li class="treeview">
    <a href="{% url 'index' %}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Tasks</span>
        <!-- <span class="label label-primary pull-right">4</span> -->
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url "newTask" %}"><i class="fa fa-circle-o"></i> New Task</a></li>
        <li><a href="{% url "historyTask" %}"><i class="fa fa-circle-o"></i> History Tasks</a></li>
    </ul>
</li>

<li class="active">
    <a href="{% url 'fileManage'%}"><i class="fa fa-folder"></i> <span>File Management </span></a>
</li>

<li>
    <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
</li>
<li>
    <a href="{% url 'global_page' %}"><i class="fa fa-book"></i> <span>Global</span></a>
</li>
<li>
    <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
</li>
{% endblock %}


{% block content_header %}
    User Guide
{% endblock content_header %}

{% block content_breadcrumb %}
<li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home </a></li>
<li class="active"><a href="{% url 'fileManage'%}">File Management</a></li>
{% endblock content_breadcrumb %}


{% block content_area %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="markdown-body content-body ">
            <p><a id="intro" title="Intro" class="toc-item"></a></p>

            <h1 align="center">HoneyCell User Guide</h1>

            <br>
            <p><a id="what" title="What is HoneyCell?" class="toc-item"></a></p>

            <br>


            <!-- START ACCORDION & CAROUSEL-->
            <div class="col-md-11">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h2> Step 1. Create a new task </h2>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="{% static 'WebApp/img/user_guide/create_new_task/1.jpg' %}" alt="First slide">
                                    <div class="carousel-caption">
                                        First Slide
                                    </div>
                                </div>
                                <div class="item active">
                                    <img src="{% static 'WebApp/img/user_guide/create_new_task/2.jpg' %}" alt="First slide">
                                    <div class="carousel-caption">
                                        First Slide
                                    </div>
                                </div>
                                <div class="item active">
                                    <img src="{% static 'WebApp/img/user_guide/create_new_task/3.jpg' %}" alt="First slide">
                                    <div class="carousel-caption">
                                        First Slide
                                    </div>
                                </div>
                                <div class="item active">
                                    <img src="{% static 'WebApp/img/user_guide/create_new_task/4.jpg' %}" alt="First slide">
                                    <div class="carousel-caption">
                                        First Slide
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div><!-- /.box-body -->
                    <br>
                    <br>
                    <br>
                    <div align="center">
                        <a href="{% url "newTask" %}" class="h2">Click to create a new task now!</a>
                    </div>
                    <br>
                    <br>
                    <br>

                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
            <!-- END ACCORDION & CAROUSEL-->

        <!--<p></p>-->
        <!--<div class="markdown-body content-body ">-->

        <!--<a href="{% url "newTask" %}" class="h2">Click to create a new task now!</a>-->

        <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

        <br>
        <br>
        <br>
    <div class="col-md-11">
        <div class="box box-solid">
            <div class="box-header with-border">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2> Step 2. Folder & File Management </h2>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="WebApp/static/WebApp/img/User Guide/Create New Task/1. New Task_meitu_2.jpg" alt="First slide">
                            <div class="carousel-caption">
                                First Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap" alt="Second slide">
                            <div class="carousel-caption">
                                Second Slide
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap" alt="Third slide">
                            <div class="carousel-caption">
                                Third Slide
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div><!-- /.box-body -->

            <br>
            <br>
            <br>
            <div align="center">
                <a href="{% url "newTask" %}" class="h2">Click to create a new task now!</a>
            </div>
            <br>
            <br>
            <br>

        </div><!-- /.box -->
    </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->

</section>

{% endblock %}

