{% extends "base.html" %}
{% load staticfiles %}

{% block active_sidebar %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<li class="treeview">
    <a href="{% url 'index' %}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>

<li class="active treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Tasks</span>
        <span class="label label-primary pull-right">4</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url "newTask" %}"><i class="fa fa-circle-o"></i> New Task</a></li>
        <li class="active"><a href="#"><i class="fa fa-circle-o"></i> History Tasks</a></li>
    </ul>
</li>
<li>
  <a href="{% url 'fileManage' %}"><i class="fa fa-folder"></i>File Management</a>
</li>
<li>
    <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
</li>
<li>
    <a href="{% url 'global_page' %}"><i class="fa fa-book"></i> <span>Global</span></a>
</li>
<li>
    <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
</li>
{% endblock %}



{% block content_header %}
    History Tasks
{% endblock content_header %}

{% block content_breadcrumb %}
<li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home</a></li>
<li><a href="#">Tasks</a></li>
<li class="active">History Tasks</li>
{% endblock content_breadcrumb %}


{% block content_area %} 

  <!-- Main content -->
  <section class="newTask-content content-top ">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>User</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Description</th>
                <th>Modified Date</th>
              </tr>
              <tr>
                <td>1</td>
                <td>AAA</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-success">Completed</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>2</td>
                <td>BBB</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-warning">Pending</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>3</td>
                <td>CCC</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-primary">Completed</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>4</td>
                <td>DDD</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>5</td>
                <td>EEE</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>6</td>
                <td>FFF</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>7</td>
                <td>GGG</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>8</td>
                <td>HHH</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>9</td>
                <td>III</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>10</td>
                <td>JJJ</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>11</td>
                <td>JJJ</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
              <tr>
                <td>12</td>
                <td>JJJ</td>
                <td>BIC CMU</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>No Description here</td>
                <td>11-7-2014</td>
              </tr>
            </table>
          </div><!-- /.box-body -->

          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>

        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
{% endblock %}


