{% extends "base.html" %}


{% block content_area %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    New Task
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active">New Task</li>
  </ol>
</section>


<!-- Main content -->
<section class="newTask_content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h6 class="box-title"> Create a new Task</h6> </br>
          <h12>A task contains all information for your Algorithm</h12>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">
            <div class="col-md-6 form-group">
              <label for="taskName">Task Name</label>
              <input type="email" class="form-control" id="taskName" placeholder="Enter Name">
            </div>
            <div class="col-md-10 form-group">
              <label>Description (optional)</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
            <div class="col-md-6 form-group">
              <label>Select Label (optional)</label>
              <select class="form-control" style="width: 100%;">
                <option selected="selected">None</option>
                <option>Important</option>
                <option>Warning</option>
                <option>Information</option>
              </select>
            </div><!-- /.form-group -->
            <div class="col-md-10 form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
              <p class="checkbox">
                <label><input type="checkbox"> Check me out</label>
              </p>
            </div>

          </div><!-- /.box-body -->

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Create Task</button>
          </div>
        </form>
      </div><!-- /.box -->
    </div>
  </div>
</section>


{% endblock %}