{% extends "base.html" %}
{% load staticfiles %}


{% block active_sidebar %}
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <li class="treeview">
        <a href="{% url 'index' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Tasks</span>
            <!-- <span class="label label-primary pull-right">4</span> -->
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> New Task</a></li>
            <li><a href="{% url "historyTask" %}"><i class="fa fa-circle-o"></i> History Tasks </a></li>
        </ul>
    </li>
    <li>
        <a href="{% url 'fileManage' %}"><i class="fa fa-folder"></i>File Management</a>
    </li>
    <li class="active">
        <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
    </li>
    <li>
        <a href="{% url 'global_page' %}"><i class="fa fa-book"></i> <span>Global</span></a>
    </li>
    <li>
        <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
    </li>
{% endblock %}



{% block content_header %}
    Following
{% endblock content_header %}

{% block content_breadcrumb %}
    <li><a href="{% url "index" %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Following</li>
{% endblock content_breadcrumb %}


{% block content_area %}
    <section class="content content-top">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="box box-primary">

                    {% for following in followings %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-widget widget-user-2">
                                <div class="followship-header">
                                    <div class="widget-user-image">
                                        {% if following.follower.profile.image %}
                                            <img class="img-circle"
                                                 src="{% url "get_user_picture" following.follower.id %}"
                                                 alt="User Avatar">
                                        {% else %}
                                            <img class="img-circle" src="{% static "WebApp/img/anonymous_user.jpg" %}"
                                                 alt="User Avatar">
                                        {% endif %}
                                    </div>
                                    <h3 class="widget-user-username"><a href="{% url 'other_profile' following.follower.id %}">{{ following.follower.username }}</a>
                                    </h3>
                                    <h5 class="widget-user-desc">{{ following.follower.first_name }} {{ following.follower.last_name }}</h5>
                                    <h5 class="widget-user-desc">{{ following.follower.email }}</h5>
                                    <h5 class="widget-user-desc">{{ following.follower.profile.company }}</h5>
                                    <h5 class="widget-user-desc">{{ following.follower.profile.location }}</h5>
                                    <h5 class="widget-user-desc">{{ following.follower.profile.website }}</h5>
                                    <h5 class="widget-user-desc">{{ following.follower.profile.short_introduction }}</h5>
                                </div>
                            </div>
                        </div>
                        <hr>

                    {% empty %}
                        <div class="box box-primary">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="box box-widget widget-user-2">
                                    <h1 align="center">Currently, there is no following.</h1>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="box-footer clearfix">
                        {% if empty %}
                            <!-- if empty, no pagination to show -->
                        {% else %}
                            <ul class="pagination pagination-sm no-margin pull-right">
                                {% if followings.has_previous %}
                                    <li><a href="?page={{ followings.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li><a href="">&laquo;</a></li>
                                {% endif %}

                                {% for num in followings.paginator.page_range %}
                                    {% ifequal num tasks.number %}
                                        <li class="current"><a href="#"><b>{{ num }}</b></a></li>
                                    {% else %}
                                        <li><a href="?page={{ num }}"> {{ num }}</a></li>
                                    {% endifequal %}
                                {% endfor %}

                                {% if followings.has_next %}
                                    <li><a href="?page={{ followings.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li><a href="#">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>


                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </div>
        </div>   <!-- row -->
    </section>

{% endblock content_area %}