<!-- Task Detail Modify Info -->

<!-- Modal -->
<div id="modifyTaskDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Task Info</h4>
            </div>
            <!-- form start -->
            <form role="form" action="{% url 'update_task' task.id %}" method="POST">{% csrf_token %}
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Task Name</label>
                            <input name="task_name" class="form-control" id="folderName" placeholder="{{ task.task_name }}">
                        </div>
                        <!-- textarea -->
                        <div class="form-group">
                            <label>Description (optional)</label>
                            <textarea name="task_description" class="form-control" rows="3" placeholder="{{ task.task_description }}"></textarea>
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary pull-left">Save change</button>
                </div>
            </form>
        </div>

    </div>
</div>