{% extends "base.html" %}
{% load staticfiles %}

{% block active_sidebar %}
<li class="treeview">
    <a href="{% url 'index' %}">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Tasks</span>
        <span class="label label-primary pull-right">4</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url "newTask" %}"><i class="fa fa-circle-o"></i> New Task</a></li>
        <li><a href="{% url "historyTask" %}"><i class="fa fa-circle-o"></i> History Tasks</a></li>
    </ul>
</li>
<li>
  <a href="{% url 'fileManage' %}"><i class="fa fa-folder"></i>File Management</a>
</li>
<li>
    <a href="{% url "profile" %}"><i class="fa fa-th"></i> <span>Profile</span></a>
</li>
<li>
    <a href="{% url 'global_page' %}"><i class="fa fa-book"></i> <span>Global</span></a>
</li>
<li>
    <a href="{% url "settings" %}"><i class="fa fa-pie-chart"></i> <span>Settings</span></a>
</li>
{% endblock %}




{% block content_header %}
    Task Detail
{% endblock content_header %}

{% block content_breadcrumb %}
<li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Task Detail</li>
{% endblock content_breadcrumb %}


{% block content_area %}

    <!-- Main content -->
    <section class="content">

        <div class="row">

            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <h3 class="profile-username text-center">{{ user.username }}</h3>
                  <p class="text-muted text-center"> username </p>

                  <hr>
                  <strong><i class="fa fa-book margin-r-5"></i>Company</strong>
                  <p class="text-muted">Carnegie Mellon University</p>
                  <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                  <p class="text-muted">Pittsburgh, PA</p>
                  <strong><i class="fa fa-envelope margin-r-5"></i> Email </strong>
                  <p class="text-muted">bic@andrew.cmu.edu</p>
                  <strong><i class="fa fa-external-link margin-r-5"></i> Website </strong>
                  <p class="text-muted">www.cmu.edu/bic</p>
                  <strong><i class="fa fa-clock-o margin-r-5"></i>Member Since </strong>
                  <p class="text-muted">Jan 1st, 2016</p>

                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
             

            <!-- Custom tabs (Charts with tabs)-->
            <div class="col-md-9">
             <div class=" nav-tabs-custom">
                  <!-- Tabs within a box -->
                  <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
                    <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> D3.js </li>
                  </ul>
                  <div class="tab-content no-padding">
                    <!-- Morris chart - D3.js -->
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                    <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>
                  </div>
             </div>
            </div><!-- /.nav-tabs-custom -->

        </div>


      
    </section>
</div>
{% endblock %}