*.log
*.pot
*.pyc
local_settings.py

# Editor backup files
*~
*#



#Exclude everything in documents folder
*/media/*


# Django's SQL Lite Database File
db.sqlite3

# Secret config parameters
*.ini

*.DS_Store
*.idea
