*.log
*.pot
*.pyc
*.iml
*.pyc
local_settings.py

# Editor backup files
*~
*#

#Exclude everything in documents folder
*HoneyCell_django_2.0/media/*

# Django's SQL Lite Database File
db.sqlite3

# Secret config parameters
*.ini

*.DS_Store
*.idea
