*.log
*.pot
*.pyc
local_settings.py

# Editor backup files
*~
*#

#Exclude everything in migrations folder
*/migrations/*

# Django's SQL Lite Database File
db.sqlite3

# Secret config parameters
*.ini

*.DS_Store
*.idea
