*.log
*.pot
*.pyc
*.iml
local_settings.py

# Editor backup files
*~
*#

#Exclude everything in migrations folder
*/migrations/*

#Exclude everything in documents folder
*/media/documents/*

# Django's SQL Lite Database File
db.sqlite3

# Secret config parameters
*.ini

*.DS_Store
*.idea
