.newTask_content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}
.settings_content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.slash {
    float: left;
    padding-top: 25px;
    margin: 0 0px;
    font-size: 21px;
    color: #666;
}

.see_more {
    text-align: center;
}

.upload_profile_pic {
    margin-top: 30px;
}

.tab-profile {
    margin-top: 30px;
}

.