.newTask_content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}
.settings_content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.slash {
    width: 1px;
    float: left;
    padding-top: 25px;
    margin: 0 0px;
    font-size: 21px;
    color: #666;
}

.see_more {
    text-align: center;
}

.upload_profile_pic {
    margin-top: 30px;
}

.tab-profile {
    margin-top: 30px;
}

.fix-main-header {
    position: fixed;
    width: 100%;
}
.fix-main-sidebar {
    position: fixed;
}
.content-wrapper-style {
    margin-top: 4%;
}

.box-title-customize {
    margin-bottom: 0px;
    font-size: 14px;
}
.btn-manage-title {
    display: inline-block;
    padding: 2px 6px;
    margin: 0px;
}
.btn-manage {
    display: inline-block;
    padding: 2px 6px;
    margin: 0px;
}
.checkbox-manage {
    margin: 0px 5px;
}

.info-box-customized {
    min-height: 50px;
    height: 50px;
    width: 80%;
}

.info-box-icon-customized {
    line-height: 50px;
    width: 50px;
    height: 50px;
}